<div class="bg-black section w-full h-full relative overflow-hidden  flex items-center justify-center">
    <div
        class="before:content-[''] before:absolute before:w-52 before:h-52 before:bg-gradient-to-r before:from-[#C6A5F0] before:to-[#923FFF] before:rounded-full before:-translate-x-[130px] before:-translate-y-[190px]  after:content-[''] after:absolute after:w-52 after:h-52 after:bg-gradient-to-r after:from-[#C6A5F0] after:to-[#923FFF] after:-z-[1] after:rounded-full after:translate-x-[285px] after:translate-y-[105px] after:rotate-180  w-96  ">

        <div class=" containers xl:w-full w-80 xl:ml-0 ml-5 -mt-20">

            <!--Front card-->
            <div class="card transition-all ease-in-out delay-150 cursor-pointer bg-black-rgba w-full backdrop-blur-lg rounded-2xl p-4 " >

                    <div class="flex items-center justify-between ">
                        <img class="w-12" src="../../../assets/flip card/visa.png" alt="">
                        <img class="w-8" src="../../../assets/flip card/chip.png" alt="">
                    </div>

                    <!--card holder & number-->
                    <div class="flex items-end text-white mt-10 justify-between">
                        <div>
                            <h6 class="text-sm font-light mb-1">Card number</h6>
                            <h1 class="text-lg tracking-widest font-semibold">1234 5689 9024 3654</h1>
                            <h4 class="text-md font-light mt-8 text-gray-500">deepesh solanki</h4>
                        </div>

                        <div>
                            <h3 class="font-light text-[10px]">Valid till</h3>
                            <h1 class="font-medium text-sm">07/23</h1>
                        </div>
                    </div>

            </div>


            <!--card back-side-->
            <div class="card  back-face cursor-pointer bg-black-rgba w-full  backdrop-blur-lg rounded-2xl p-4">

                    <div class="text-white">
                        <h3 class="xl:text-[10px] text-[8px] whitespace-nowrap -ml-1">For customer service call +910 12345687 or email
                            on visa&#64;example.com</h3>
                        <div class="black bg-black w-full h-8 absolute left-0 mt-3"></div>

                        <div class="mt-14 mb-4 w-4/5 h-6 bg-white linear flex items-center justify-end rounded">
                            <span><i class="text-black text-sm -mr-11 pr-2 bg-white rounded-r">752</i></span>
                        </div>

                        <p class="text-[10px]">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa odio, corrupti unde at
                            maiores cum aut a hic laudantium, dolorum magnam sunt? Cumque ab quasi commodi veniam
                            repellat quia voluptatum obcaecati beatae, aut assumenda iste?
                        </p>
                    </div>
                </div>

        </div>
    </div>
</div>